body {
    background-color: #d9f2d9;  /* 浅绿色背景 */
    margin: 0;
    padding-top: 20px;
    color: black;  /* 黑色文字 */
}

.container {
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
}

.nav-link {
    margin: 0 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;  /* 黑色文字 */
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #98fb98;  /* 浅绿色背景 */
    color: white;  /* 白色文字 */
}

hr {
    border-top: 1px solid #ddd;
}

form, .content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
