body {
    background-color: #d9f2d9;  /* 浅绿色背景 */
    margin: 0;
    padding-top: 20px;
    color: black;  /* 黑色文字 */
}

.container {
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em; /* 增大字体 */
}

nav {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;  /* 确保内容不会溢出 */
    white-space: nowrap; /* 确保导航条内容不换行 */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    gap: 2px; /* 调整每个框之间的距离 */
}

.nav-link {
    padding: 5px 10px; /* 调整 padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;  /* 黑色文字 */
    background-color: #ffffff;
    white-space: nowrap; /* 确保文字在一行内 */
    font-weight: bold; /* 加粗文字 */
    font-size: 1em; /* 调整字体大小 */
    transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
    background-color: #98fb98;  /* 浅绿色背景 */
    color: white;  /* 白色文字 */
    text-decoration: underline; /* 鼠标悬停时添加下划线 */
}

hr {
    border-top: 1px solid #ddd;
}

form, .content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
