{% extends "base.html" %}
{% block title %}美国银行卡开户指南{% endblock %}
{% block content %}
<div class="article-content">
  <h2 class="article-title">美国银行卡信用卡开户指南</h2>
  <p>在美国拥有一张本地银行卡是日常生活的基础。开户的时候需要居住地址证明，通常是租房合同。新移民常见的开户建议如下：</p>
  <ul>
    <li>主流银行大部分需要SSN，洛杉矶华人区的Bank of America可以不用SSN。网点多，服务全。</li>
    <li>新移民友好银行：如East West Bank，无SSN也可开户。</li>
    <li>所需材料：护照、住址证明。</li>
    <li>注意事项：注意账户管理费和最低余额要求。Bank of America是需要每月最低$1500的存款，否则会收取$12/月的费用。开户完成以后，银行会把卡寄到居住地址，这封信可以留起来做地址证明。</li>
  </ul>
  <p>Chase开户，需要SSN，目前也有不错的奖励</a>。</p>
  <ul>
    <li>支票账户开户，目前奖励300美元。可以使用我们推荐的链接开户：<a href="https://accounts.chase.com/consumer/raf/online/rafoffers?key=3144889492&src=N" target="_blank"> https://www.chase.com/</a>。</li>
    <li>信用卡开户，目前奖励200美元。可以使用我们推荐的链接开户：<a href="https://www.referyourchasecard.com/18A/9JTWADTM3M" target="_blank"> https://creditcards.chase.com/</a>。</li>
  </ul>
</div>
{% endblock %} 