<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <!-- 顶部黑色导航 -->
  <header class="navbar">
    <a href="/" class="logo">新移民第一站</a>
    <small class="subtitle">
        这里有最全的攻略帮你快速开局。只放干货，从不扯淡，新移民只看本站就够了。
    </small>
    <nav class="nav-links">
      <a href="/rent">租房</a>
      <a href="/rentBlack">租房黑名单</a>
      <a href="/tel">电话卡</a>
      <a href="/drive">驾照</a>
      <a href="/bank">银行卡</a>
      <a href="/id">身份</a>
      <a href="/work">找工</a>
      <a href="/workBlack">找工黑名单</a>
      <a href="/contact">联系我们</a>
      <a href="/res">免责与隐私</a>
    </nav>
  </header>

  <main class="container">
    <!-- 页面主体内容 -->
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="site-footer">
    Copyright ©2025 新移民第一站 All Rights Reserved
  </footer>
</body>
</html>
