<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center mt-3">
                <h1>新移民第一站</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
                    <div class="container-fluid justify-content-center">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">新移民必看</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rent">租房防踩坑</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rentBlack">租房黑名单</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/work">找工防踩坑</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/workBlack">找工黑名单</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
