{% extends "base.html" %}

{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="article-content">
    <h2>在{{ zipcode }}地址范围，黑名单房源如下：</h2>
    
    {% if addresses %}
        <ol class="result-list">
        {% for address in addresses %}
            <li>
                {{ address }} 
                <a href="{{ url_for('main.rentDetail', address=address) }}">点击查看详情</a>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <div class="no-results">
            <h3>🎉 好消息！</h3>
            <p>在邮编 <strong>{{ zipcode }}</strong> 范围内，目前没有发现黑名单房源。</p>
            <p>这意味着该地区的房源相对安全，但仍建议您：</p>
            <ul>
                <li>仔细查看租房合同条款</li>
                <li>实地考察房屋状况</li>
                <li>了解房东背景信息</li>
                <li>保留所有沟通记录</li>
            </ul>
        </div>
    {% endif %}
    
    <br>
    <br>
    <br>
    <p class="center-block no-indent"><a href="{{ url_for('main.rentBlack') }}" class="btn btn-primary">返回，重新搜索</a></p>
</div>
{% endblock %}
