
{% extends "base.html" %}

{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="article-content">
    <h2>在{{ zipcode }}地址范围，黑名单房源如下：</h2>
    <ol class="result-list">
    {% for address in addresses %}
        <li>
            {{ address }} 
            <a href="{{ url_for('main.rentDetail', address=address) }}">点击查看详情</a>
        </li>
    {% endfor %}
    </ol>
    <br>
    <br>
    <br>
    <p class="center-block no-indent"><a href="{{ url_for('main.rentBlack') }}" class="btn btn-primary">返回，重新搜索</a></p>
</div>
{% endblock %}
