{% extends "base.html" %}
{% block title %}美国电话卡办理攻略{% endblock %}
{% block content %}
<div class="article-content">
  <h2 class="article-title">美国电话卡办理攻略</h2>
  <p>刚到美国，拥有一张本地电话卡非常重要。我们只推荐用过的卡：Tello。其它的卡，要不然更贵，要不然信号更差，要不然需要社安号SSN。Tello网站：<a href="https://tello.com/account/register?_referral=P3NV0K15" target="_blank">https://tello.com</a></p>
  <p>Tello卡的优点是：</p>
  <ul>
    <li>用T-Mobile的网络，基本与T-Mobile的网络覆盖范围一致。</li>
    <li>价格便宜，目前正在做活动，15美元一个月，无限流量，无限通话和短信。</li>
    <li>可以拨打中国号码，可以随时与国内联系。拨打中国号码时前面先拨：+86。</li>
  </ul>
  <p>Tello卡的缺点是：信号在郊区比T-Mobile差一些。</p>
</div>
{% endblock %} 